*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todoBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 2rem;
}

.todobtn{
    padding: 2rem;
}
  
