* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    margin: 20px;
    height: 80%;
    width: 500px;
    max-width: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid  black;
    padding: 0.2rem;
}

.title {
    flex: 1;
    font-weight: 900px;
}

.modal-body {
    padding: 0.5rem;
}

.close-button {
    width: 20px;
    height: 20px;
    border-radius: 0.2rem;
    
}

#overlay {
    transition: 200ms ease-in-out;
    position: fixed;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.64);
    pointer-events: none;
    
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}